<footer class="bg-light ">
  <div class="container">
    <div class="row items-center py-10">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a
          class="navbar-brand inline-block"
          href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      <div class="lg:col-6 mb-8 text-center lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-3 inline-block">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <details>
      <summary>Image Credits</summary>
      <ul>
        <li>
          Joseph, I. (2016). <i>Island Covered With Green Trees Under the Clear Skies</i> [Photograph]. Pexels. <a target="_blank" rel="noopener noreferrer" href="https://www.pexels.com/photo/island-covered-with-green-trees-under-the-clear-skies-188029/">https://www.pexels.com/photo/island-covered-with-green-trees-under-the-clear-skies-188029/</a>
        </li>
        <li>
          Hardacre, M. (2019). <i>Photo of a Person Snorkeling</i> [Photograph]. Pexels. <a target="_blank" rel="noopener noreferrer" href="https://www.pexels.com/photo/photo-of-a-person-snorkeling-2404370/">https://www.pexels.com/photo/photo-of-a-person-snorkeling-2404370/</a>
        </li>
        <li>
          Zafeiri, E. (unknown). <i>Scenic Harbor in Gaios, Paxos, Greece</i> [Photograph]. Pexels. <a target="_blank" rel="noopener noreferrer" href="https://www.pexels.com/photo/scenic-harbor-in-gaios-paxos-greece-31320636/">https://www.pexels.com/photo/scenic-harbor-in-gaios-paxos-greece-31320636/</a>
        </li>
        <li>
          Keane, B. (2004). <i>Lava Flowing</i> [Photograph]. Pexels. <a target="_blank" rel="noopener noreferrer" href="https://www.pexels.com/photo/lava-flowing-1687530/">https://www.pexels.com/photo/lava-flowing-1687530/</a>
        </li>
      </ul>  
    </details>    
  </div>
</footer>
